/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Header Styling */
.head {
    background-color: #343a40;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

#profile {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Profile Page Layout */
.profilePage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    padding-right: 100px;
}

/* Vertical Line */
.profile-container {
    display: flex;
    align-items: center;
}

.vertical-line {
    width: 2px;
    margin-top: 80px;
    height: 620px;
    background-color: black;
    margin-right: 40px;
}

/* Profile Details */
.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-details h1 {
    position: relative;
    left: 20px;
    bottom: 110px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.profile-details img {
    position: relative;
    border-radius: 50%;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    bottom: 90px;
    left: 60px;
}

#profileUsername {
    position: relative;
    bottom: 50PX;
    left: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

/* Button Styling */
#backBtn {
    position: relative;
    left: 570px;
    top: -8px;
    font-size: 0.8rem;
    padding: 0.35rem 0.8rem;
    border-radius: var(--border-radius);
    border: none;
    background-color:  #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
